.mainContainer{
    display:flex;
    flex-direction: column;
   // border:1px solid green;
    //overflow: hidden;
    margin:10px 20px;
    text-align: center;
    padding:2rem;
    justify-content: center;
    min-height:10vh;
}